
   * {
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    padding: 0px;
    }

    body {
    margin: 0;
    }

    .container {
        display: grid;
        margin: 0;
        grid-template-areas:
        "intro"
        "section1"
        "section2"
        "section3"
        "section4"
        "footer"
    }

        .intro {
            display: grid;
            grid-area: intro;
            background-image: url("https://media-exp1.licdn.com/dms/image/C4D1BAQGSOZ5W5YOCLA/company-background_10000/0/1557759979809?e=2159024400&v=beta&t=FI6k4WzUHjPI4znBpI9ussqd2DY_vATl2UM4M1HNiUI");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom;
            background-attachment: fixed;
            height: 500px;
            align-content: space-between;
            grid-template-areas:
            "header"
            "mid"
            "bot";
        }
        
            .header{
            grid-area: header;
            display: grid;
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 5fr 1fr;
            }
            
                .top-left {
                    color: white;
                    font-weight: bolder;
                    font-size: 15px
                    
                }

                .nav{
                display: grid;
                grid-template-columns: repeat(5,1fr);
                justify-content: space-between;
                margin-top: 0;
                margin-bottom: 0;
                text-align: center;
                }

                li a{
                    color: white;
                    font-size: 12px;
                }

                .sns {
                    display: grid;
                    grid-template-columns: repeat(3, auto);
                    margin-top: 0;
                    margin-bottom: 0;
                    justify-content: end;
                }

                .icon{
                    width: 20px;
                    filter: invert(100%);
                }

            .mid {
            grid-area: mid;
            text-align: center;
            }

            .bot {
            grid-area: bot;
            text-align: center;
            color: white;
            }

        .section1{
        display: grid;
        grid-area: section1;
        height: 450px;
        background: linear-gradient(
        to right, 
        #ffffff 0%, 
        #ffffff 60%, 
        #FFFAFA 60%, 
        #FFFAFA 100%
        );
        grid-template-columns: 500px 500px;
        justify-content: center;
        align-content: end;
        grid-template-areas:
        "section1_text section1_img";
        }

            .section1_text {
            display: grid;
            grid-area: section1_text;
            align-content: start;
            grid-gap: 10px;
            height: 350px;
            }

            .section1_img{
            grid-area: section1_img;
            background-image: url("https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
            background-size: cover;
            }


        .section2{
        grid-area: section2;
        background: linear-gradient(to bottom,
        #FFFAFA 0%, 
        #FFFAFA 50%,
        #ffffff 50%, 
        #ffffff 100%
        );
        height: 900px;
        }


        .section2_text {
            grid-area: section2_text;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
            margin-bottom: 25px;
            margin-top: 50px;
        }

        .section2_img {
            grid-area: section2_img;
        }
          
            .image-stack::after {
            content: ' ';
            display: grid;
            clear: both;
             }
            
            .image-stack__item--top {
                margin-right: -100%;
                float: left;
                position: relative;
                left: 410px;
                z-index: 1;
                }
            
            .image-stack__item--bottom {
                padding-top: 3%;
                float: right;
                width: 90x;
                }

        .section3{
        grid-area: section3;
        background: #FFFAFA;
        }

        .section4{
        grid-area: section4;
        background-image: url("https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80");
        background-size: cover;
        filter: grayscale(100%);
        opacity: 0.8;
        }

        .footer{
        grid-area: footer;
        }

        img {
            width: 100%;
            height: auto;
            margin: 0;
        }

        
        #rectangle {
        width: 200px;
        height: 50px;
        background: #00308f;
        color: white;
        text-align: center;
        vertical-align: middle;
        }